@import "tailwindcss";

:root {
  --foreground: #b700ff;
  --background: #ffc400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Comic Sans MS", "Comic Sans", regulas;
  --font-mono: "Comic Sans MS", "Comic Sans", regular;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b700ff;
    --foreground: #ffc400;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Comic Sans MS", "Comic Sans", regular;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", regular !important;
}